.note-container{
    height: 100%;
}

.note-container > h2{
    margin-bottom: 20px;
}

.note-container_notes{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    height: 90%;
    overflow-y: scroll;

}
